
.heading
{
font-size: 23px;
width: 100%;
margin-bottom: 0px;
}

body{
    background-size: cover;
    background-position: center;
}

.apple {
    text-shadow: 2px 2px 2px red;
    color: red;
    width: 40%;
}

.books {
    text-shadow: 2px 2px 2px red;
    color: red;
    width: 40%;
}

.bottle {
    text-shadow: 2px 2px 2px red;
    color: red;
    width: 40%;
}

.tv{
    text-shadow: 2px 2px 2px red;
    color: red;
    width: 40%;
}

.HOME {
    left: 0px;
    top: 30px;
    margin-bottom: 90px;
}